body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #272727;
}

p {
  color: white;
  font-size: 18px;
  max-width: 540px;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  opacity: 0.8;
  line-height: 1.35;
}

p + p {
  margin-top: 15px;
}

a {
  color: white;
  text-decoration: underline;
}

.imdb {
  width: 125px;
  margin-top: 50px;
}
